*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
}
body{
    background-image: url(https://source.unsplash.com/1600x900/?landscape);
    background-size: cover;
    height: 100vh;  /*ALTURA*/
    width: 100vw;  /*LARGURA*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.caixa-maior{
    background-color: black;
    opacity: 0.7;/*transparencia*/
    width: 95%;
    max-width: 450px;
    border-radius: 25px; /*arredondar bordar*/
    padding: 20px;
}
.lupa{
    height: 20px;
    width: 20px;
}
button{
    border: none;
    padding: 10px;
    background-color:#7c7c7c ;
    cursor: pointer;
    border-radius: 50%;
    float: right;
}
button:hover{
    background-color: #bababa;
}
input{
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px;
    background-color: #7c7c7c2b;
    color: #ffff;
    width: calc(100% - 100px);
    font-size: 24px;
}
.caixa-media{
    margin-top: 30px ;
}

.cidade{
    color: white;
    font-size: 28px;
}

.graus{
    color: white;
}

.temp{
    color: white;
    margin-top: 30px;
    font-size: 30px;
}

.umidade{
    color: white;
    margin-top: 30px;
}